.header {
    z-index: 100;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1;
    background-color: #fff;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100vw;
    padding: 3vh 0;
}

.header__logo {
    float: left;
    max-width: 200px;
}

.header__title {
    margin: 0 auto;
}

