.login {
    max-height: 70vh;
    max-width: 70vw;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1;
    margin: 0 auto;
    padding: 0 10vw;
    object-fit: contain;
    justify-content: space-between;
}

.login__form {
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
}

.login-form-button {
    margin: 3vh 0;
    padding: 0 5vw;
}