.register {
    min-width: 70vw;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1;
    margin: 0 auto;
    padding: 0 10vw;
    object-fit: contain;
    justify-content: space-between;
}

.register__form {
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
}